ES_HOST=http://192.168.56.20:9200
ES_USER=elastic
ES_PASS=your_elastic_password

DC_IP=192.168.56.10
DC_USER=Administrator
DC_PASS=your_dc_password

WIN_USER=Administrator
WIN_PASS=your_workstation_password

WS01_IP=192.168.56.11
WS02_IP=192.168.56.12

AUTO_RESPONSE=true
DRY_RUN=false
POLL_INTERVAL=60
